.header {
  padding: 20px 0;
  background: #392350;
  font-weight: normal;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 580px) {
  .content {
    gap: 15px;
    flex-direction: column;
  }
}